body {
    display: flex;
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 18px;
    background: #79ACCD;
}

#calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    width: 30%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.header_row {
    justify-content: space-between;
    padding: 20px;
    color: #7D8A94;
}

.days_row {
    border-top: 1px solid #dedede;
    font-weight: 700;
    font-size: 13px;
    color: #7D8A94;
}

.off {
    color: #dedede;
}

.number_row,
.days_row {
    padding: 10px 25px;
    justify-content: space-between;
}

.number_row * {
    padding: 5px 0;
    text-align: center;

}

.add {
    border-radius: 50%;
    border: orange 2px solid;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.info_row {

    align-items: center;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    border-top: 1px solid #dedede;
    justify-content: space-between;
    padding: 20px 25px;
}